@model IEnumerable<iPede.Site.Models.Entities.Product>
@{
    ViewBag.Title = "Home";
}


@section scripts{
    <script>
        updateCart();
    </script>
}

<h2>Cardápio</h2>
@Html.Partial("~/Views/Products/ProductsList.cshtml", Model)

