@model IEnumerable<iPede.Site.Models.Entities.SuggestedProduct>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        $(function () {
            $(".add-item-button").click(function () {
                var btn = $(this);
                $.post('@Url.Action("Add")', { id: btn.data("item-id") }, function (data) {
                    $("#admin-suggested #list").html(data);
                });
                var row = btn.closest("tr");
                row.remove();
            });
        })
    </script>
}
<h2>Index</h2>
<div id="admin-suggested">
    <div id="list">@Html.Action("ChildList")</div>

    <div id="available">@Html.Action("ChildAvailableList")</div>
</div>