@model iPede.Site.Models.Entities.ContactViewModel
@{
    ViewBag.Title = "Carrinho";
}
<h2>Compra concluída</h2>
<div class="container">
    @Html.ActionLink("Ver outros produtos", "Index", "Home")
</div>