@model iPede.Site.Models.Entities.ContactViewModel
@{
    ViewBag.Title = "Carrinho";
}

<section class="container">
    <div class="center">
        <h2>Compra concluída</h2>
    </div>
    <p>@Html.ActionLink("Ver outros produtos", "Index", "Home")</p>
    

    <p>&nbsp;</p>
</section>