@model iPede.Site.Models.MenuModel

<div class="menu">
    <a class="toggleMenu" href="javascript:void()"><img src="@Url.Content("~/Content/images/nav.png")" alt="" /></a>
    <ul class="nav" id="nav">
        @foreach (var item in Model.MenuItems)
        {
            <li class="@(item.Active ? "current" : null)"><a href="@item.Url">@item.Text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
