@model IEnumerable<iPede.Site.Models.Entities.Product>
@{
    ViewBag.Title = "Home";
}


@section scripts{
    <script>
        updateCart();
    </script>
}



<div class="main">
    <div class="content-top">
        <h2>Cardápio</h2>
        <div class="shop_top">
            <div class="container">
                @Html.Partial("~/Views/Products/ProductsList.cshtml", Model)
            </div>
        </div>
    </div>
</div>

