
@{
    ViewBag.Title = "Produtos";
}
<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Produtos</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active">Produtos</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->

<section id="about-us" class="container main">
    <div class="row-fluid">

        <aside class="span3">

            <h3 class="side-heading">Categorias</h3>
            <div class="list-group">
                <a href="category-grid.html" class="list-group-item">
                    <i class="fa fa-chevron-right"></i>
                    Spices &amp; Herbs
                </a>
                <a href="category-grid.html" class="list-group-item">
                    <i class="fa fa-chevron-right"></i>
                    Chili Powder
                </a>
                <a href="category-grid.html" class="list-group-item">
                    <i class="fa fa-chevron-right"></i>
                    Herb Blends
                </a>
                <a href="category-grid.html" class="list-group-item">
                    <i class="fa fa-chevron-right"></i>
                    Seasonings
                </a>
                <a href="category-grid.html" class="list-group-item">
                    <i class="fa fa-chevron-right"></i>
                    Salt Free Spices
                </a>
            </div>
        </aside>

        <div class="span8">
            <ul class="gallery col-3">
                <!--Item 1-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/amaciador.png" alt=""></div>

                        <h5 style="text-transform: uppercase;">Amaciador de Carnes Inox</h5>
                        <p style="color: #999;">qualquer descricao so pra ficar bonito qualquer descricao so pra ficar bonito</p>
                        <a class="btn btn-default btn-large pull-center" style="/* margin-left: 10px; */">
                            <i class="icon-shopping-cart"></i>&nbsp;&nbsp;Adicionar
                        </a>
                    </div>
                </li>
                <!--/Item 1-->
                <!--Item 2-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/balanca.png" alt=""></div>
                        <hr>
                        <h5>Balança (Uno 4) 15Kg TOLEDO</h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 2-->
                <!--Item 3-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/bebedouro.png" alt=""></div>
                        <hr>
                        <h5>
                            Bebedouro Industrial com Filtro
                            Capacidade para 200 litros
                        </h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 3-->
                <!--Item 4-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/mesa_inox.png" alt=""></div>
                        <hr>
                        <h5>Mesa Inox 02 Planos</h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 4-->
                <!--Item 5-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/amaciador.png" alt=""></div>
                        <hr>
                        <h5>Amaciador de Carnes Inox</h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 5-->
                <!--Item 6-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/balanca.png" alt=""></div>
                        <hr>
                        <h5>Balança (Uno 4) 15Kg TOLEDO</h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 6-->
                <!--Item 7-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/bebedouro.png" alt=""></div>
                        <hr>
                        <h5>
                            Bebedouro Industrial com Filtro
                            Capacidade para 200 litros
                        </h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 7-->
                <!--Item 8-->
                <li>
                    <div class="box">
                        <div class="center"><img src="~/Content/images/portfolio/thumb/mesa_inox.png" alt=""></div>
                        <hr>
                        <h5>Mesa Inox 02 Planos</h5>
                        <a class="btn btn-link" href="#">Saiba mais <i class="icon-angle-right"></i></a>
                    </div>
                </li>
                <!--/Item 8-->

            </ul>


        </div>

    </div>

</section>